# Игнорировать все .env файлы
*.env
.env
backend/.env

# Игнорировать папки зависимостей Python
pycache/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/

# IDE файлы
.vscode/
.idea/
*.swp
*.swo

# Логи и временные файлы
*.log